
Course #1 Neural Networks and Deep Learning/Thumbs.db
Course #1 Neural Networks and Deep Learning/Neural Networks/__pycache__/planar_utils.cpython-38.pyc
Course #1 Neural Networks and Deep Learning/Neural Networks/__pycache__/NeuralNetMx.cpython-38.pyc
